body{
    background-color:white; 
    transition-duration:1000ms; 
    font-family: sans-serif; 
}

#bg{ 
    opacity:0.5; 
    position:fixed;
    height:100%; 
    width:100%; 
    top:0px; 
    left:0px; 
    background-image: url(../../media/bg.png);
    transition-duration: 750ms; 
}

#nav, #close-project-view{
    position:sticky; 
    top:100px; 
    left:20px; 
    font-size: 13pt; 
    font-variant: small-caps; 
    font-weight:300; 
    text-align: right; 
}
#close-project-view{
    top:10px; 
    text-align: right; 
    padding-right:10px; 
    padding-top:5px; 
    font-weight: 500; 
}
#nav{
    display:table; 
    width:auto; 
    z-index:10; 
    opacity:0; 
    transition-duration:200ms; 
}
#nav a, #close-project-view a{
    text-decoration: none; 
    color:rgb(150,150,150); 
    transition-duration:1000ms; 
}
#nav a:hover, #close-project-view a:hover{
    color:rgb(0,0,255); 
}

#projhead{
    position:absolute; 
    opacity: 0;
    z-index:10; 
    transition-duration:200ms; 
    left:10px; 
    top:0px; 
    padding:10px; 
    padding-top:25px; 
    font-weight: 500; 
    font-variant:small-caps; 
    font-size:40pt;
    font-family:inherit; 
    letter-spacing:10px; 
}

#project-wrap{
    width:90%; 
    position:absolute; 
    left:100px; 
    top:100px; 
    z-index:1; 
    opacity:0; 
    transition-duration:500ms; 
}

.project-box{
    width:250px; 
    height:250px; 
    margin:10px; 
    display:inline-block; 
    opacity:inherit; 
    border-style:solid; 
    border-width:thin; 
}

.project-box img{
    height:250px; 
    width:250px; 
    padding:none; 
    transition-duration:700ms; 
    opacity:0.7;
}

.project-box img:hover{
    opacity:1; 
}

#project-info{
    width:700px; 
    position:absolute; 
    left:100px; 
    top:110px; 
    border-style:solid; 
    border-width: thin;
    display:none; 
    opacity:0; 
    transition-duration:1000ms; 
}

#project-view{
    width:300px;
    height:300px; 
    padding:25px;
    float:left; 
    opacity:inherit; 
    z-index: inherit;
}

#project-desc{
    width:300px; 
    float:left; 
    padding-top:25px;
    font-size: 10pt;
    font-weight: 300; 
}
#project-name{
    width:100%; 
    font-weight: 540; 
    font-variant:small-caps; 
    font-size:20pt;
    letter-spacing:3px; 
    padding-bottom:5px; 
    padding-top:5px; 
}
#project-name a, #project-name a:visited, #project-desc a, #project-desc a:visited{
    text-decoration: none;
    color:rgb(0,0,255);
}

.line{
    background-color:rgb(150,150,150); 
    width:100px;
    height:2px; 
    margin-bottom:3px;
}

.dot{
    background-color:black; 
    width:2px;
    height:2px; 
    margin-bottom:3px;   
}

span{
    transition-duration: inherit; 
    opacity: inherit; 
    display:inline-block;
    line-height: 100px; 
}
